<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <style>
            p{
                color:blue;
                text-align: center;
                font-size: 100px;
            }
        </style>
        <title>Login page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p th:text="|hello ${user.username} you are a ${user.user_type} your id is ${user.id}|"></p>
            <!--<table>-- comment 
                <tr the:each="user : ${allusers}">
                </tr>
            </table>-->
        </div>
    </body>
</html>
