<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p th:text="|The message is ${user}|"></p>
            <p th:text="|The other message is ${user}|"></p>
           
        </div>
    </body>
</html>
